@inherits Umbraco.Web.Mvc.UmbracoViewPage<ZxaUmbraco.Models.ContactModel>
@using (Html.BeginUmbracoForm<ZxaUmbraco.Controllers.ContactSurfaceController>("HandleFormPost"))
{

    <br />
    <div>
        <label for="dropdownGender">Select Gender</label>
        <br />
        @Html.DropDownListFor(x => x.SelectedGender, Model.ListOfGenders, "Choose your title", new { @class = "dropdownGender", Required = "Required" })
    </div>
    <br />

    <div>
        <label for="nameFrom">Name</label>
        <br />
        @Html.TextBoxFor(x => x.Name, new { @class = "nameFrom", placeholder = "Name", Required = "Required" })
    </div>
    <br />

    <div>
        <label for="emailFrom">Email</label>
        <br />
        @Html.TextBoxFor(x => x.Email, new { @class = "emailFrom", placeholder = "Email", Type = "Email", Required = "Required" })
    </div>
    <br />

    <div>
        <label for="senderAddress">Address</label>
        <br />
        @Html.TextBoxFor(x => x.Address, new { @class = "senderAddress", placeholder = "Address", id = "adresse" })
    </div>
    <br />

    <div>
        <label for="senderPostal">Postal Code</label>
        <br />
        @Html.TextBoxFor(x => x.Postal, new { @class = "senderPostal", placeholder = "Postal", id = "senderPostal"  })
    </div>
    <br />

    <div>
        <label for="senderCity">City</label>
        <br />
        @Html.TextBoxFor(x => x.City, new { @class = "senderCity", placeholder = "City", id = "senderCity" })
    </div>
    <div>

        <label for="messageFrom">Message</label>
        <br />
        @Html.TextAreaFor(x => x.Message, new { @class = "contactMessage", placeholder = "Message", Required = "Required" })
        <br />
        <input type="submit" value="Submit" />
    </div>


}