@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@

@{ var selection = CurrentPage.Site().Children.Where("Visible"); }
<div id="topHead" style="background-image: url('../../media/bb.png'); background-repeat: no-repeat; background-size: cover;">
<ul >
	@{
        var HP = Model.Content.AncestorsOrSelf(1).FirstOrDefault();
       var SearchResultsPage = Model.Content.AncestorOrSelf(1).Children().Where(x => x.DocumentTypeAlias == "searchResults").First();
      //  var HomePage = @CurrentPage.AncestorsOrSelf(1).First();
       var languages = Umbraco.TypedContentAtRoot();
   } 
    @foreach (var language in languages)
    {
        if (language.HasProperty("languageIcon"))
        { 
        var imgId = language.GetPropertyValue("languageIcon");
        var img = Umbraco.Media(imgId);
        <a href="@language.Url">
      <img src="@img.Url" alt="@img.Name" height="30px" width="30px" style="margin: 0px 0px 0px 10px"/>
       </a>
            }
    }
    
    <li id="navList" class="navbar navbar-default "><a href="@HP.Url">@HP.GetPropertyValue("pageTitle")</a></li>
    @foreach (var item in selection)
    {
       
        <li id="navList" class="@(item.IsAncestorOrSelf(CurrentPage) ? "current" : null) navbar navbar-default" >
            <a href="@item.Url">@item.Name</a>
        </li>
        
    }
</ul>
<div class="col-lg-3 input-group" >
<form action="@SearchResultsPage.UrlAbsolute()" method="post" target="_self">
    <input type="text" class="form-control" placeholder='@Umbraco.Field("#Search Placeholder")' name="query" />
    <span class="input-group-btn"><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
    
</form>
</div>
</div>