@using Umbraco.Web.Mvc;
@inherits UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
	var home = @CurrentPage.Site();
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      @*<script src="/bower_components/jquery/dist/jquery.js"></script>*@
      <script src="/Scripts/jquery-ui/jquery-ui.js"></script>
      <script src="/Scripts/jquery-ui/ui/autocomplete.js"></script>
      <script src="~/Scripts/dawa-autocomplete/dawa-autocomplete.js"></script>

      <script src="~/Scripts/script.js"></script>

      <link rel="stylesheet" href="~/Scripts/jquery-ui/themes/start/jquery-ui.css">
      <link rel="stylesheet" href="~/Scripts/jquery-ui/themes/start/theme.css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="~/css/Custom.css" rel="stylesheet" />

      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@CurrentPage.pageTitle | @CurrentPage.siteName</title>

    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <header>
      <div class="container">
        <div class="row">
         <div class="">
			<a href="@home.Url">
            	<div class="brand" style="background-image:url(../media/1042/logo.png)"></div>
			</a>
          </div> 
            <div class="col-sm-12 col-lg-12">
                <nav>
                    @{ Html.RenderPartial("MainNavigation"); }
                </nav>
            </div>
      </div>
          </div>
      
    </header>


     @RenderBody()  
      <footer class="field dark">
          <div class="container">
              <div class="row">

                  @{ Html.RenderPartial("BottomNavigation"); }
              </div>
          </div>
      </footer>
  </body>
</html>