@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsOverveiw>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var ListOfNews = CurrentPage.Children();
}
<div class="container-fluid">
    <div class="container">
        <h1>@CurrentPage.Name</h1>
        <br />
        @CurrentPage.newsOverviewBodyText

        @foreach (var news in ListOfNews)
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                   <a href="@news.Url"> <h3 class="panel-title">@news.Name</h3></a>
                </div>
                <div class="panel-body">
                    @Umbraco.Truncate(news.newsText, 600);
                </div>
            </div>
        }

    </div>
</div>